.flower{
    width: 30%; /* Adjust the percentage size of the flower relative to the container */
    height: auto; /* Ensures the height adjusts proportionally with the width */
    max-width: 100%; /* Ensures the image does not exceed the container width */
    max-height: 100%; /* Ensures the image does not exceed the container height */
    position: absolute;
    right: 0;
    bottom: -5%;
}

.welcome {
    position: absolute;
    font-family: Arial;
    left: 150px;
    font-size: 4em;
}