table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .box{
    margin: 0px;
    padding: 0px;
    display: block;
    height: 13px;
  }